p{
    margin-top:0;
    font-family: Roboto,'Times New Roman', Times, serif;
}
body{
    margin: 0;
    margin-bottom: 500px;
    padding-top: 65px;
    padding-left: 5px;


}

.center-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}