
.header{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    border-color: rgb(223, 221, 221);
    border-style: solid;
    border-width: 1px;
}
.right-section{
    width: 150px;
    display: flex;
    align-items: center;
    
}
.middle-section{
    flex: 1;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.left-section{
    width: 200px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchbar{
    font-size: 15px;
    margin-left: 20px;
    padding-left: 10px;
    height: 31px;
    border: solid 1px gray;
    border-radius: 17px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.19);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    flex: 1;
}
   
.menu-icon{
    height: 20px !important;
    width: 30px !important;
    margin-left: 13px;

}
.youtube-logo{
    height: 20px !important;

}
.search-btn{
    height: 34px;
    width: 50px;
    background-color: rgb(231 231 231);
    border: solid 1px rgb(167, 164, 164);
    margin-left: -3px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;

}
.mic-icon{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.axeprofile{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dokmeyezangole{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dokmeyevideo{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}